body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0d0d0d;
    background: radial-gradient(circle, #0f0f0f, #000000);
    overflow: hidden;
}

.container {
    position: relative;
    text-align: center;
    width: 80%;
    height: 80vh;
}

.creative-button {
    padding: 15px 30px;
    margin: 10px;
    border: none;
    font-size: 16px;
    color: #0f0;
    background: linear-gradient(135deg, #005c00, #00ff00);
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    transition: transform 0.2s ease, background 0.3s ease, left 0.3s, top 0.3s;
    box-shadow: 0 10px 30px rgba(0, 255, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.creative-button:hover {
    background: linear-gradient(135deg, #00ff00, #005c00);
    transform: scale(1.1);
    box-shadow: 0 15px 45px rgba(0, 255, 0, 0.7);
}

.hidden {
    display: none;
}

@keyframes smokeFade {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
        filter: blur(0);
    }
    100% {
        opacity: 0;
        transform: scale(1.5) translateY(-50px);
        filter: blur(10px);
    }
}

.smoke-effect {
    animation: smokeFade 2s forwards;
}

.download-button {
    font-size: 10px;
    padding: 5px 10px;
    width: auto;
    height: auto;
    bottom: 10px;
    left: 10px;
    position: absolute;
    background: linear-gradient(135deg, #004d00, #00b300);
    border-radius: 30px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.download-button:hover {
    transform: scale(1.2);
    background: linear-gradient(135deg, #00b300, #004d00);
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 255, 0, 0.05);
    pointer-events: none;
    animation: movingBackground 10s linear infinite;
    z-index: 0;
}

@keyframes movingBackground {
    0% { transform: translateY(0) scale(1); }
    100% { transform: translateY(-100%) scale(1.5); }
}

.creative-button, .download-button {
    z-index: 1;
}