body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #2c3e50, #000000);
    overflow: hidden; /* Evita que os botões saiam da tela */
}

.container {
    position: relative; /* Permite o posicionamento absoluto dos botões */
    text-align: center;
    width: 80%; /* Ajusta o tamanho do container para limitar o movimento */
    height: 80vh;
}

.creative-button {
    padding: 20px;
    margin: 10px;
    border: none;
    font-size: 16px;
    color: white;
    background: linear-gradient(135deg, #f39c12, #e74c3c);
    cursor: pointer;
    border-radius: 50px;
    position: absolute; /* Permite o movimento e posicionamento aleatório */
    transition: transform 0.1s, background 0.3s, left 0.3s, top 0.3s; /* Suaviza o movimento */
}

.creative-button:hover {
    background: linear-gradient(135deg, #e74c3c, #f39c12);
}

.hidden {
    display: none;
}

@keyframes smokeFade {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
        filter: blur(0);
    }
    100% {
        opacity: 0;
        transform: scale(1.5) translateY(-50px);
        filter: blur(10px);
    }
}

.smoke-effect {
    animation: smokeFade 2s forwards;
}

.download-button {
    font-size: 1px; /* Diminui ainda mais o tamanho do texto */
    padding: 1px 1px; /* Reduz o padding para diminuir a altura */
    width: auto;
    height: auto;
    bottom: 1px; /* Ajusta para mais próximo do canto inferior */
    left: 1px; /* Ajusta para mais próximo do canto esquerdo */
    position: absolute;
}